In [ ]:
pip install pandas SQLAlchemy mysql-connector-python

In [14]:
import pandas as pd
import json
from sqlalchemy import create_engine

In [2]:
def load_schema():
    with open("source_schema.json",'r') as file:
        source_schema = json.load(file)

In [3]:
# load schema defination from json file
load_schema()

In [4]:
def validate_field(field_name, value):
    print(source_schema[field_name])

In [21]:
# Connect to DB

DB_HOST = "127.0.0.1"
DB_PORT = 3306
DB_USER = "root"
DB_PASSW = "<mssql!>"
DB_NAME = "credit_trans"

DATABASE_URL = f"mysql+mysqlconnector://{DB_USER}:{DB_PASSW}@{DB_HOST}:{DB_PORT}/{DB_NAME}"

try:
    engine = create_engine(DATABASE_URL)
    print("Engine created")
except Exception as e:
    print (f"Error: {e}")

Engine created

In [33]:
# Fetch Expected Schema from DB
query = """
select COLUMN_NAME, ORDINAL_POSITION,  IS_NULLABLE, DATA_TYPE, COLUMN_TYPE, CHARACTER_MAXIMUM_LENGTH
from INFORMATION_SCHEMA.COLUMNS
where table_name
"""
try:
    src_col_schema_df = pd.read_sql(f"{query} = '{'transactions_source'}';",engine)
    dest_col_schema_df = pd.read_sql(f"{query} = '{'transactions_dw'}';",engine)
    print("Source:\n",src_col_schema_df.head(23))
    print("Dest:\n",dest_col_schema_df.head(23))
except Exception as e:
    print(f"Error: {e}")

              COLUMN_NAME  ORDINAL_POSITION IS_NULLABLE DATA_TYPE COLUMN_TYPE  \
0                     amt                 5         YES    double      double
1                category                 4         YES      text        text
2                  cc_num                 2         YES    bigint      bigint
3                    city                10         YES      text        text
4                city_pop                15         YES       int         int
5                     dob                17         YES      text        text
6                   first                 6         YES      text        text
7                  gender                 8         YES      text        text
8                is_fraud                22         YES       int         int
9                     job                16         YES      text        text
10                   last                 7         YES      text        text
11                    lat                13         YES    double      double
12                   long                14         YES    double      double
13              merch_lat                20         YES    double      double
14             merch_long                21         YES    double      double
15               merchant                 3         YES      text        text
16                  state                11         YES      text        text
17                 street                 9         YES      text        text
18  trans_date_trans_time                 1         YES      text        text
19              trans_num                18         YES      text        text
20              unix_time                19         YES       int         int
21                    zip                12         YES       int         int

    CHARACTER_MAXIMUM_LENGTH
0                        NaN
1                    65535.0
2                        NaN
3                    65535.0
4                        NaN
5                    65535.0
6                    65535.0
7                    65535.0
8                        NaN
9                    65535.0
10                   65535.0
11                       NaN
12                       NaN
13                       NaN
14                       NaN
15                   65535.0
16                   65535.0
17                   65535.0
18                   65535.0
19                   65535.0
20                       NaN
21                       NaN
              COLUMN_NAME  ORDINAL_POSITION IS_NULLABLE DATA_TYPE  \
0                     amt                 7          NO   decimal
1                category                 6          NO   varchar
2                  cc_num                 4          NO   varchar
3                    city                14          NO   varchar
4                city_pop                17          NO       int
5                     dob                11          NO      date
6                   first                 8          NO   varchar
7                  gender                10          NO      char
8                is_fraud                22          NO   tinyint
9                     job                12          NO   varchar
10                   last                 9          NO   varchar
11                    lat                18          NO   decimal
12                   long                19          NO   decimal
13              merch_lat                20          NO   decimal
14             merch_long                21          NO   decimal
15               merchant                 5          NO   varchar
16                  state                15          NO      char
17                 street                13          NO   varchar
18  trans_date_trans_time                 2          NO  datetime
19              trans_num                 1          NO   varchar
20              unix_time                 3          NO    bigint
21                    zip                16          NO   varchar

        COLUMN_TYPE  CHARACTER_MAXIMUM_LENGTH
0     decimal(10,2)                       NaN
1       varchar(50)                      50.0
2       varchar(20)                      20.0
3       varchar(50)                      50.0
4      int unsigned                       NaN
5              date                       NaN
6       varchar(50)                      50.0
7           char(1)                       1.0
8        tinyint(1)                       NaN
9      varchar(100)                     100.0
10      varchar(50)                      50.0
11   decimal(21,18)                       NaN
12   decimal(21,18)                       NaN
13   decimal(21,18)                       NaN
14   decimal(21,18)                       NaN
15     varchar(100)                     100.0
16          char(2)                       2.0
17     varchar(100)                     100.0
18         datetime                       NaN
19      varchar(50)                      50.0
20  bigint unsigned                       NaN
21      varchar(10)                      10.0

In [33]:

# validate the first 3 fields

NameError: name 'source_schema' is not defined